<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <title>メディアレビューアプリ</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">

    <!-- 分離しているウェルカムポップアップのstyleを呼び出す -->
    <th:block th:replace="~{fragments/welcome-modal :: welcomeStyle}"></th:block>

    <!-- ウェルカムポップアップ以外のstyleを呼び出す -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="bg-dark text-light">
    <div class="container mt-4">

        <!-- 画面の各要素はfragmentsディレクトリに収納してある -->

        <!-- 画面要素0　初めてのアクセスのみ表示されるポップアップ -->
        <div th:replace="~{fragments/welcome-modal :: welcomePopup}"></div>

        <!-- 画面要素1 題名 -->
        <h1>メディアレビューアプリ</h1>

        <!-- 画面要素1.5　登録処理をした後にロードした場合のみ表示される -->
        <div th:replace="~{fragments/alert :: commonAlert}"></div>

        <!-- 画面要素2 作品の登録フォーム-->
        <div th:replace="~{fragments/form-card :: registerForm}"></div>

        <!-- 画面要素3 「気になるリスト」と「レビュー」の表示 -->
        <div th:replace="~{fragments/media-list-section :: mediaList}"></div>

    </div>

    <!-- Bootstrapの動的機能を読みこんでいる -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <!-- JavaScriptはapp.jsに記載している -->
    <script th:src="@{/js/app.js}"></script>
</body>
</html>